---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const blogEntries = await getCollection("blog");

	return blogEntries.map((post) => ({
		params: {
			id: post.id,
		},
		props: {
			post,
		},
	}));
}

const { id } = Astro.params;
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={id}>
	<div
		class="prose prose-gruvbox mx-auto max-w-[650px] pb-10 pt-5 dark:prose-invert"
	>
		<h1>{post.data.title}</h1>

		<p>published: {post.data.publishDate.toLocaleDateString()}</p>
		<p>reading time: around {post.data.readingTime} minutes</p>

		<hr />

		<Content />
	</div>
</Layout>
